S6/NAW/TP5/TP5/NAW_TP5_Bataille_Schema_ComplexeType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2014 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="partie">
		<xs:sequence>
			<xs:element ref="joueur" minOccurs="2" maxOccurs="2"/>
			<xs:element ref="tour"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="partie" type="partie"/>
	<xs:complexType name="tour">
		<xs:attribute name="nb" use="required"/>
	</xs:complexType>
	<xs:element name="tour" type="tour"/>
	<xs:complexType name="joueur">
		<xs:sequence>
			<xs:element ref="grilleD"/>
			<xs:element ref="joue"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:element name="joueur" type="joueur"/>
	<xs:complexType name="joue">
		<xs:attribute name="can" use="required"/>
	</xs:complexType>
	<xs:element name="joue" type="joue"/>
	<xs:complexType name="grilleD">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="caseD"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="grilleD" type="grilleD"/>
	<xs:complexType name="caseD">
		<xs:attribute name="col" use="required"/>
		<xs:attribute name="lig" use="required"/>
		<xs:attribute name="etat" use="required"/>
		<xs:attribute name="taille_bateau" use="required"/>
	</xs:complexType>
	<xs:element name="caseD" type="caseD"/>
</xs:schema>