S6/NAW/TP5/TP5/NAW_TP5_DTD.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2014 rel. 2 sp1 (http://www.altova.com)-->
<!--element and attribute declarations-->
<!--Comment describing your root element-->
<!ELEMENT CHAMPIONNAT ((JOURNEE, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?, JOURNEE?))>
<!ATTLIST CHAMPIONNAT
	DIVISION CDATA #REQUIRED
	SAISON CDATA #REQUIRED
>
<!ELEMENT JOURNEE ((RENCONTRE, RENCONTRE?, RENCONTRE?, RENCONTRE?, RENCONTRE?, RENCONTRE?, RENCONTRE?, RENCONTRE?, RENCONTRE?, RENCONTRE?))>
<!ATTLIST JOURNEE
	NUMERO NMTOKEN #REQUIRED
	DATE NMTOKEN #REQUIRED
>
<!ELEMENT RENCONTRE EMPTY>
<!ATTLIST RENCONTRE
	DOMICILE CDATA #REQUIRED
	EXTERIEUR CDATA #REQUIRED
	SCORED NMTOKEN #REQUIRED
	SCOREE NMTOKEN #REQUIRED
>
